@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background: #1e1e1e;
  font-family: 'Lato', sans-serif;
}

.grid {
  display: grid;
  grid-template-areas: "header" "navigation" "content" "footer";
}

.header {
  grid-area: header;
  text-align: center;
  color: #358cd6;
}

.navigation {
  grid-area: navigation;
  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  &__item {
    display: block;
    margin: 0 16px;
  }
  &__link {
    color: #67cdfe;
    &:hover {
      color: #c586c0;
    }
  }
  @media (max-width: 845px) {
  text-align: center;
    &__switcher {
      border: none;
      background: none;
      color: #67cdfe;
    }
    &__list {
      flex-direction: column;
      display: none;
      &--visible {
        display: flex;
        text-align: center;
      }
    }
    &__item {
      margin: 16px;
    }
  }
  @media (min-width: 846px) {
    &__switcher {
      display: none;
    }
  }
}

.content {
  grid-area: content;
  margin: auto;
  &__header {
    color: #ce9178;
    text-align: center;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 16px;
    text-align: center;
  }
  @media (min-width: 468px ) {
       &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: left;
    }
  @media (min-width: 768px ) {
      &__grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     text-align: left;
   }
  }
}

.week {
  &__header {
    color: #d7ba7d;
    
  }
  &__list {
    color: #fff;
    padding: 0;
    
    list-style-type: none;
  }
}
}

.footer {
  grid-area: footer;
  text-align: center;
  color: #3ac9a2;
}

